/* Configure Databases */
//params{

/* Running parameters */


/* Databases */
    hostrm_bowtie2_idx='/proj/virus/db/hg38/hg38'
//}

/* Configure steps, CPU and PATH requirements */
process {
    executor='local'
    errorStrategy = 'ignore'

    withName: BWA_reads {
        beforeScript="export PATH=/home/amanj/Documents/Packages/Tools/BWA/0.7.17:$PATH"
		beforeScript="export bwaIndex=/home/amanj/Documents/poli_and_coxs/poli_and_coxs_pipeline/db/bwa_index"
        cpus = 10
    }
    withName: blastn_read1 {
	    beforeScript="export PATH=/home/amanj/Documents/Packages/Tools/ncbi-blast/2.9.0+/ncbi-blast-2.9.0+/bin:$PATH"
        beforeScript="export BLASTDB=/home/amanj/Documents/poli_and_coxs/poli_and_coxs_pipeline/db/blast_db"
        cpus = 2
    
    }
	withName: blastn_read2 {
	    beforeScript="export PATH=/home/amanj/Documents/Packages/Tools/ncbi-blast/2.9.0+/ncbi-blast-2.9.0+/bin:$PATH"
        beforeScript="export BLASTDB=/home/amanj/Documents/poli_and_coxs/poli_and_coxs_pipeline/db/blast_db"
        cpus = 2
    
    }


}
