manifest {
    homePage = ''
    description = ' '
    mainScript = 'poli_coxs_pipline.nf'
}

/* Pipeline running parameters */
params{
  publish_base_dir='poli_and_coxs_results'
}

process{
  errorStrategy='ignore'
}

profiles {
  
  amanj {
    includeConfig 'conf/amanj.poli_coxs_pipline.config'
 }

}

report {
    enabled = true
    file = "poli_coxs_pipeline_report.html"
}

timeline {
    enabled = true
    file = "poli_coxs_pipeline_timeline.html"
}

trace{
  enabled = true
  file = "poli_coxs_pipeline_trace.html"
  fields='task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration'
}