/* Configure Databases */
params{

/* Running parameters */


/* Databases */

	

    //1. BWA index
	bwa_idx='/home/amanj/Documents/TTV/TTV_pipeline/bwa_index'

    //2. TTV db
    BLASTDB='/home/amanj/Documents/TTV/TTV_pipeline/TTV_db'

}

/* Configure steps, CPU and PATH requirements */
process {

    /* CONTIGS Processes */

    withName: contig_counter{
        cpus=1
    }
    
    withName: contig_magicblast{
		// magicblast installed with anaconda
		beforeScript='export BLASTDB=/home/amanj/Documents/TTV/TTV_pipeline/TTV_db'
        cpus=5
    }

    withName: contig_magicblast_counter{
        cpus=1
    }
	withName: contig_magicblast_final_sampleResults{
		beforeScript='export BLASTDB=/home/amanj/Documents/TTV/TTV_pipeline/TTV_db'
        cpus=2
    }
	
	/* READS Processes */
	
	withName: reads_counter{
        cpus=1
    }

    withName: reads_magicblast{
		// magicblast installed with anaconda
		beforeScript='export BLASTDB=/home/amanj/Documents/TTV/TTV_pipeline/TTV_db'
        cpus=5
    }

    withName: reads_bwa{
	    beforeScript='export PATH=/home/amanj/Documents/Packages/Tools/BWA/0.7.17:$PATH'
	    beforeScript='export PATH=/home/amanj/Documents/TTV/TTV_pipeline/bwa_index:$PATH'
        cpus=5
    }
    withName: reads_magicblast_counter{
        cpus=1
    }
	withName: reads_magicblast_final_sampleResults{
		beforeScript='export BLASTDB=/home/amanj/Documents/TTV/TTV_pipeline/TTV_db'
        cpus=2
    }
    withName: reads_bwa_counter{
        cpus=1
    }
    withName: reads_bwa_final_sampleResults{
		beforeScript='export BLASTDB=/home/amanj/Documents/TTV/TTV_pipeline/TTV_db'
        cpus=2
    }
}