manifest {
    homePage = ''
    description = 'Andersson lab TTV mapping'
    mainScript = 'TTV_mapping.nf'
}

/* Pipeline running parameters */
params{
  min_ctg_size=500
  publish_base_dir='TTV_map_results'
}

process{
  errorStrategy='ignore'
}

profiles {
  amanj {
    includeConfig 'conf/amanj.TTV_mapping.config'
  }
  othello {
   includeConfig 'conf/othello.TTV_mapping.config'
  }

}

report {
    enabled = true
    file = "TTV_mapping_report.html"
}

timeline {
    enabled = true
    file = "TTV_mapping_timeline.html"
}

trace{
  enabled = true
  file = "TTV_mapping_trace.html"
  fields='task_id,hash,native_id,process,tag,name,status,exit,submit,start,complete,duration'
}
